#
# smbot.config
#
# direct upload configuration for linux using /dev/ttyS0
#

name smbot
maxsize 8192  # smbot is based on Mega32 using 8k of flash memory

# info on target
target smbot
#filename /dev/ttyS0
speed 2400

# load lists of native methods
native System
native PrintStream
native InputStream
#native StringBuffer
native StringBuilder
native Math
native Formatter
native Exception
#native Integer
native Thread
native smbot/Leds
native smbot/ADC
native smbot/Clock
native smbot/Motor
native smbot/Servo

#native smbot/Bot
#native smbot/Display
#native smbot/DistanceSensor
#native smbot/EdgeDetector
#native smbot/IrReceiver
#native smbot/LdrSensor

#native smbot/LightBarrier
#native smbot/Motor
#native smbot/Mouse

#native smbot/ShutterSensor
#native smbot/WheelEncoder
